<section class="about-us-bg" id="about-us">
    <div class="about-us-bg-container">
        <div class="container">
            <div class="row">
                <div class="about-us-portrait col-md-4">
                    <img src="/img/about-us/peterdesanto.jpg"/>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-7">
                    <h2>Peter De Santo</h2>
                    <br>
                    <h3>Peter De Santo is a home renovations expert with over 40 years in the industry.</h3>
                    <h3>Peter has been involved with all aspects of renovations from a young age and his past experience with Home Depot as well being a project manager for many large renovation projects.</h3>
                    <h3>Peter strives to provide any customers with a wealth of knowledge and guide them towards creating their dream living spaces.</h3>
                    <br>
                    <h3>A father of three boys and grandfather of three, Peter loves to spend his free time hanging out with his grandchildren, traveling, and is an avid hockey fan and vintage car lover.</h3>
                </div>
            </div>
    </div>
</section>
