<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
        </div>
        <div class="row text-center">
            <h4 class="col-lg-6"><i class="fa-solid fa-phone"></i> Phone: <a href="tel: + {{ site.phone }}">{{ site.phonetext }}</a></h4>
            <h4 class="col-lg-6"><i class="fa-solid fa-envelope"></i> Email: <a href="mailto:{{ site.email }}">{{ site.email }}</a></h4>
        </div>
    </div>
</section>
