<footer class="bg-dark">
    <hr class="footer-hr"/>
    <div class="row col-md-12"><br></div>
    <div class="container">
        <div class="row footer-main">
            <div class="col-md-4 text-center">
                <div class="footer-logo"></div>
                <div class="logo-text">Planet Renovations inc.</div>
            </div>

            <div class="col-md-4">
                <br>
                <div class="row">
                    <div><b>Contact us:</b></div>
                    <i class="fa-solid fa-phone"></i> Phone: <a href="tel: + {{ site.phone }}">{{ site.phonetext }}</a><br>
                    <i class="fa-solid fa-envelope"></i> Email: <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                </div>
            </div>
            
            <div class="col-md-4">
                <br>
                <div class="row"><b>Address:</b></div>
                <div class="row">71 Princess Street,</div>
                <div class="row">Peterborough, ON</div>
                <div class="row">K9J 2A8</div>
            </div>
        </div>
    <br>
        <div class="footer-bottom row">
            <div class="col-xs-5 col-xs-offset-1">
                <a href="https://www.facebook.com/PlanetRenovationsInc" target="_blank"><i class="large-font-size fa-brands fa-square-facebook"></i></a>
                <a href="https://www.instagram.com/planetrenovationsinc/" target="_blank"><i class="large-font-size fa-brands fa-instagram"></i></a>
            </div>
            <div class="col-xs-3 col-xs-offset-3">© 2023 All rights Reserved.</div>
        </div>
    </div>
</footer>