<footer class="container">
    <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="row">
                71 Princess Street, 
            </div>
            <div class="row">
                Peterborough, ON
            </div>
            <div class="row">
                K9J 2A8
            </div>
            <div class="row">
                Phone: <a href="tel: +7058767526">(705) 876-PLAN</a>
            </div>

        </div>


    </div>
    <div class="footer-bottom row">
        <div class="col-md-8">
            <a href="https://www.facebook.com/PlanetRenovationsInc" target="_blank"><i class="large-font-size fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/planetrenovationsinc/" target="_blank"><i class="large-font-size fa-brands fa-instagram"></i></a>
        </div>
        <div class="col-md-4">© 2023 All rights Reserved.</div>
    </div>
</footer>