<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="text-center">
            <hr>
            <br><br>
            <h2>Our Renovation Services</h2>
            <h3>These are some of the services we provide:</h3>
            <br><br>
        </div>
        <div class="row no-gutter portfolio-background">
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/customer-kitchen3.jpg" target="_blank" class="portfolio-box">
                    <div class="portfolio-image portfolio-image-1 img-responsive"></div>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Kitchen Renovations
                            </div>
                            <div class="project-name">
                                Phenomenal kitchens with modern designs.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/customer-kitchen2.jpg" target="_blank" class="portfolio-box">
                    <div class="portfolio-image portfolio-image-2 img-responsive" alt=""></div>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                General Contracting
                            </div>
                            <div class="project-name">
                                Your vision is our expertise.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/5.jpg" target="_blank"class="portfolio-box">
                    <div class="portfolio-image portfolio-image-3 img-responsive" alt=""></div>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                               Bathroom Renovations
                            </div>
                            <div class="project-name">
                                Bathrooms can be redone to be more functional and have a greater aesthetic!
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/customer-kitchen1.jpg" target="_blank"class="portfolio-box">
                    <div class="portfolio-image portfolio-image-4 img-responsive" alt=""></div>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Basement Renovations
                            </div>
                            <div class="project-name">
                                Finishing off a home with a beautiful space.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/planetrenovations_building.jpg" target="_blank"class="portfolio-box">
                    <div class="portfolio-image portfolio-image-5 img-responsive" alt=""></div>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                               Exterior Renovations
                            </div>
                            <div class="project-name">
                                Garages, decks, porches, wood. Let us know what you have in mind!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/6.jpg" target="_blank"class="portfolio-box">
                    <div class="portfolio-image portfolio-image-6 img-responsive" alt=""></div>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Commercial Renovations 
                            </div>
                            <div class="project-name">
                                We also do work for commercial buildings.
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        </div>
    </div>
</section>
