<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter portfolio-background">
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/new-kitchen.jpg" target="_blank" class="portfolio-box">
                    <div class="portfolio-image portfolio-image-1 img-responsive"></div>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                New Kitchen
                            </div>
                            <div class="project-name">
                                Kitchen renovation
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/new-kitchen-2.jpg" target="_blank" class="portfolio-box">
                    <div class="portfolio-image portfolio-image-2 img-responsive" alt=""></div>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                New Kitchen
                            </div>
                            <div class="project-name">
                                Kitchen renovation
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/laundry-top.jpg" target="_blank"class="portfolio-box">
                    <div class="portfolio-image portfolio-image-3 img-responsive" alt=""></div>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                New Laundry top
                            </div>
                            <div class="project-name">
                                Laundry Room renovation
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        </div>
    </div>
</section>
